.content-pg {
    h2 {
        font-size: 26px;
        font-weight: 600;
        line-height: 1.4;
        color: var(--blue-color);
        margin-bottom: 20px;
    }

    p {
        margin-top: 0;
        margin-bottom: 30px;
    }

    a {
        color: var(--blue-color);
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 0;
        }
        
        li {
            padding-left: 40px;
            font-size: 16px;
            font-weight: 400;
            color: var(--dark-grey);
            opacity: .8;
            position: relative;
            line-height: 1.65;
            word-break: break-word;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 1px;
                width: 23px;
                height: 23px;
                background: url('/images/icons/icon-tick.svg') 0 0 no-repeat;
                background-size: 100%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .content-pg {
        h2 {
            font-size: 18px;
        }
        ul {
            row-gap: 15px;
            li{
                padding-left: 32px;
                font-size: 16px;
                &::before {
                    top: 3px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}