
main {
  height: 100vh;
  display: flex;
  margin: 0 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    fill: #48c5fd;
    stroke: #2e7bfc;
    stroke-width: 1.5;
    height: 140px;
    width: 200px;
    margin-bottom: 25px;
  }

  h1 {
    color: #212121;
    font-size: 3.5em;
    font-weight: 300;
    margin: 0;
  }

  h2 {
    color: #757575;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 10px;
    max-width: 670px;
  }
}
